.landing-page {
    background-image: url('@/assets/bg3.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 1366px;
    height: 578px;
    padding-top: 40px;
    
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 67px; 
    
  }
  
  .logo img {
    width: 50px; 
    height: auto;
  }
  
  .ore-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; 
    font-family: 'Inder';
    margin-bottom: 30px;
  }
  .ore-letter {
    font-size: 24px; 
    font-weight: bold;
    font-family: 'Inder';
  }
  
  .ore-letter:nth-child(1) {
    color: #800080; 
  }
  
  .ore-letter:nth-child(2) {
    color: rgba(128, 0, 128, 0.52); 
  }
  
  .ore-letter:nth-child(3) {
    color: #800080; 
  }
  
  .ore-letter:nth-child(4) {
    color: rgba(128, 0, 128, 0.52);
  }
  
  .ore-letter:nth-child(5) {
    color: #800080;
  }

  .navbar {
    display: inline-block;
    vertical-align: middle;
    
  }

  .navigation{
    margin-top: -130px;
  }

  .nav-links{
    display: inline-block;
    vertical-align: middle;
    margin-left: 86px;
    gap: 20px;  
  }
  .link-space {
    margin-left: 70px; 
    display: inline-block;
  }
  
  .nav-link {
    box-shadow: inset 0 0 0 0 #800080;
    text-decoration: none;
    color: #800080;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out; 
  }
  
  .nav-link:hover {
    box-shadow: inset 100px 0 0 0 #800080;
    color: white;
  }


  .nav-link1 {
    box-shadow: inset 0 0 0 0 #800080;
    color: #800080;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .nav-link1:hover {
    box-shadow: inset 100px 0 0 0 #800080;
    color: white; 
  }
  

  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 76px; 
  }
  
  .search-bar input {
    padding: 8px 30px 8px 10px; 
    border: 1px solid rgba(128, 0, 128, 0.52);
    border-radius: 4px;
    color: rgba(128, 0, 128, 0.52);
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  
  
  .search-bar input::placeholder {
    color: transparent;
  }
  
  
  .search-bar input:hover::placeholder,
  .search-bar input:focus::placeholder {
    color:rgba(128, 0, 128, 0.52);
    font-family: 'Inder';
  }
  
  .button-space {
    width: 79px;
    display: inline-block;
    vertical-align: middle;
  }

  
  .user-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 200px;
    font-family: 'Inder';
  }
  

  
  .login-button {
    padding: 12px 28px;
    border-radius: 45px;
    border: 1px solid #800080;
    background-color: #800080; 
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Inder';
    margin-right: 30px;
    transition: background-color 0.3s;
    flex-shrink: 0;
  }

  .signup-button{
    padding: 12px 21px;
    font-family: 'Inder';
    border-radius: 45px;
    border: 1px solid #800080;
    background: #800080;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    flex-shrink: 0;
  }

.center-left{
    margin-left: 55px;
    margin-top: -130px;

}

.ore-highlight {

    color: #800080;
    font-family: IM FELL DW Pica;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ore-text{

color: #000;
font-family: Kameron;
color: #000;
font-family: Kameron;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.calo{

    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descrip{
    color: #575353;
    word-wrap: break-word;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin-top: -30px;
    margin-left: 15px;
}