@font-face {
    font-family: 'Inder'; 
    src: url('https://fonts.gstatic.com/s/inder/v10/w8gUH2YoQe8_4vq6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Indie Flower'; 
    src: url('https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZluOC2HA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'IM Fell DW Pica', 'Inder', 'Indie Flower';
    src: url('https://fonts.gstatic.com/s/imfelldwpica/v11/3XFtErwl05Ad_vSCF3lK5FgFrp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(99deg, rgba(128, 0, 128, 0.13) 24.29%, rgba(128, 0, 128, 0.17) 58.64%, rgba(128, 0, 128, 0.00) 100%);
  font-family: 'Inder', sans-serif;

}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ease-in {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-in-out forwards;
}
